
# Kowshik P 

## Classification Assignment submitted on 26-Apr-2022
## ------------------------------------------------------------------------
## Model Implemented - KNN-Grid SearchCV
## Accuracy Rate of Model : 0.99
## Type - 1 error: 6
## Type - 2 error: 41 (Maximum)
## Performance - Good
## ------------------------------------------------------------------------

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

In [2]:
clientInformation = pd.read_csv("fraud.csv");

clientInformation

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
3,1,PAYMENT,7817.71,53860.00,46042.29,0.00,0.00,0,0
4,1,PAYMENT,7107.77,183195.00,176087.23,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
16421,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
16422,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
16423,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
16424,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
16425,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [3]:
clientInformation.shape

(16426, 9)

In [4]:
clientInformation = pd.get_dummies(clientInformation, drop_first = True);

clientInformation

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,1,0,0,0

In [5]:
clientInformation = clientInformation.drop("isFlaggedFraud", axis = 1);

clientInformation

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,1,0,0,0

In [6]:
independentVariable = clientInformation[["step", "amount", "oldbalanceOrg", "newbalanceOrig", "oldbalanceDest", "newbalanceDest", "type_CASH_OUT", "type_DEBIT", "type_PAYMENT", "type_TRANSFER"]];

independentVariable

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,0,0

In [7]:
dependentVariable = clientInformation[["isFraud"]];

dependentVariable

       isFraud
0            0
1            0
2            0
3            0
4            0
...        ...
16421        1
16422        1
16423        1
16424        1
16425        1

[16426 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split;

x_train, x_test, y_train, y_test = train_test_split(independentVariable, dependentVariable, test_size = 1/3, random_state = 0);

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test

In [ ]:
y_test

In [9]:
from sklearn.preprocessing import StandardScaler;

standardization = StandardScaler();

x_train = standardization.fit_transform(x_train);

x_test = standardization.transform(x_test);

In [10]:
from sklearn.neighbors import KNeighborsClassifier;

from sklearn.model_selection import GridSearchCV;



param_grid ={"weights":["uniform", "distance"], "n_neighbors":[1.0, 10, 20, 50, 80, 100], 
             
             "p":[1, 2], "algorithm":["auto", "ball_tree", "kd_tree", "brute"], "metric":["minkowski"]
             
            }

grid = GridSearchCV(KNeighborsClassifier(), param_grid, refit = True, verbose = 3, n_jobs=-1, scoring="f1_weighted");

grid.fit(x_train, y_train);

Fitting 5 folds for each of 96 candidates, totalling 480 fits

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
80 fits failed out of a total of 480.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
80 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\neighbors\_classification.py", line 198, in fit
    return self._fit(X, y)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\neighbors\_base.py", line 573, in _fit
    % type(self.n_neighbors)
TypeError: n_neighbors does not take <class 'float'> value, enter integer value

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan 0.99050156 0.99159772
 0.9903186  0.99168899 0.9890396  0.99104961 0.98785171 0.98995323
 0.98547559 0.98903948 0.98373919 0.98693785 0.98401316 0.98748591
 0.98191083 0.98538399 0.98328183 0.98739457 0.98044789 0.98474424
        nan        nan        nan        nan 0.99050156 0.99159772
 0.9903186  0.99168899 0.9890396  0.99104961 0.98785171 0.98995323
 0.98547559 0.98903948 0.98373919 0.98693785 0.98401316 0.98748591
 0.98191083 0.98538399 0.98328183 0.98739457 0.98044789 0.98474424
        nan        nan        nan        nan 0.99050156 0.99159772
 0.9903186  0.99168899 0.9890396  0.99104961 0.98785171 0.98995323
 0.98547559 0.98903948 0.98373919 0.98693785 0.98401316 0.98748591
 0.98191083 0.98538399 0.98328183 0.98739457 0.98044789 0.98474424
        nan        nan        nan        nan 0.99050156 0.99159772
 0.9903186  0.99168899 0.9890396  0.99104961 0.98785171 0.98995323
 0.98547559 0.98903948 0.98373919 0.98693785 0.98401316 0.98748591
 0.98191083 0.98538399 0.98328183 0.98739457 0.98044789 0.98474424]
  category=UserWarning,
C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [11]:
y_pred = grid.predict(x_test);

In [12]:
from sklearn.metrics import confusion_matrix;

KNNConfusionMatrix = confusion_matrix(y_test, y_pred);

print(KNNConfusionMatrix);

[[2716    6]
 [  41 2713]]

In [13]:
from sklearn.metrics import classification_report;

KNNClassifierReport = classification_report(y_test, y_pred);

print(KNNClassifierReport);

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      2722
           1       1.00      0.99      0.99      2754

    accuracy                           0.99      5476
   macro avg       0.99      0.99      0.99      5476
weighted avg       0.99      0.99      0.99      5476

# 1. Metric(Accuracy Score)
## The best performance is 1

In [14]:
from sklearn.metrics import accuracy_score;

KNNClassifierAccuracy = accuracy_score(y_test, y_pred);

print(KNNClassifierAccuracy);

0.9914170927684441

# 2. Metric(Balanced Accuracy)
## The best value is 1 and the worst value is 0

In [15]:
from sklearn.metrics import balanced_accuracy_score;

KNNClassifierBalanced = balanced_accuracy_score(y_test, y_pred);

print(KNNClassifierBalanced);

0.9914541509857814

# 3. Metric(Top K-Accuracy Score)
## The top-k accuracy score. The best performance is 1

In [16]:
from sklearn.metrics import top_k_accuracy_score;

KNNClassiferTopK = top_k_accuracy_score(y_test, y_pred);

print(KNNClassiferTopK);

1.0

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\metrics\_ranking.py:1751: UndefinedMetricWarning: 'k' (2) greater than or equal to 'n_classes' (2) will result in a perfect score and is therefore meaningless.
  UndefinedMetricWarning,

# 4. Metric(Average Precision Score)
## The best value is 1 and the worst value is 0

In [17]:
from sklearn.metrics import average_precision_score;

KNNClassifierPrecision = average_precision_score(y_test, y_pred);

print(KNNClassifierPrecision);

0.9904259388645501

# 5. Metric(Brier Score Loss)
## The best value is 1 and the worst value is 0

In [18]:
from sklearn.metrics import brier_score_loss;

KNNClassiferBrier = brier_score_loss(y_test, y_pred);

print(KNNClassiferBrier);

0.00858290723155588

# 6. Metric(F1 Score)
## The best value is 1 and the worst value is 0

In [19]:
from sklearn.metrics import f1_score;

KNNClassifierF1score = f1_score(y_test, y_pred);

print(KNNClassifierF1score);

0.9914123880869724

# 7. Metric(F1 Score - Macro)
## The best value is 1 and the worst value is 0

In [20]:
from sklearn.metrics import f1_score;

KNNClassifierF1Macro = f1_score(y_test, y_pred, average='macro');

print(KNNClassifierF1Macro);

0.9914170901924184

# 8. Metric(F1 Score - Micro)
## The best value is 1 and the worst value is 0

In [21]:
from sklearn.metrics import f1_score;

KNNClassifierF1Micro = f1_score(y_test, y_pred, average='micro');

print(KNNClassifierF1Micro);

0.9914170927684441

# 9. Metric(F1 Score - Weighted)
## The best value is 1 and the worst value is 0

In [22]:
from sklearn.metrics import f1_score;

KNNClassifierF1Weighted = f1_score(y_test, y_pred, average='weighted');

print(KNNClassifierF1Weighted);

0.9914170627148119

# 10. Metric(F1 Score - Samples)
## The best value is 1 and the worst value is 0

In [23]:
from sklearn.metrics import f1_score;

KNNClassifierF1Samples = f1_score(y_test, y_pred, average= None);

print(KNNClassifierF1Samples);

[0.99142179 0.99141239]

# 11. Metric(Log_Loss)
## The best value is 1 and the worst value is 0

In [24]:
from sklearn.metrics import log_loss;

KNNClassifierLogLoss = log_loss(y_test, y_pred);

print(KNNClassifierLogLoss);

0.2964439898001075

# 12. Metric(Precision Score)
## The best value is 1 and the worst value is 0

In [25]:
from sklearn.metrics import precision_score;

KNNClassifierPrecisionScore = precision_score(y_test, y_pred);

print(KNNClassifierPrecisionScore);

0.9977933063626333

# 13. Metric(Precision Score - Macro)
## The best value is 1 and the worst value is 0

In [26]:
from sklearn.metrics import precision_score;

KNNClassifierPrecisionScoreMacro = precision_score(y_test, y_pred, average='macro');

print(KNNClassifierPrecisionScoreMacro);

0.9914610347554915

# 14. Metric(Precision Score - Micro)
## The best value is 1 and the worst value is 0

In [27]:
from sklearn.metrics import precision_score;

KNNClassifierPrecisionScoreMicro = precision_score(y_test, y_pred, average='micro');

print(KNNClassifierPrecisionScoreMicro);

0.9914170927684441

# 15. Metric(Precision Score - Weighted)
## The best value is 1 and the worst value is 0

In [28]:
from sklearn.metrics import precision_score;

KNNClassifierPrecisionScoreWeighted = precision_score(y_test, y_pred, average='weighted');

print(KNNClassifierPrecisionScoreWeighted);

0.9914980385340577

# 16. Metric(Precision Score - None)
## The best value is 1 and the worst value is 0

In [29]:
from sklearn.metrics import precision_score;

KNNClassifierPrecisionScoreNone = precision_score(y_test, y_pred, average=None);

print(KNNClassifierPrecisionScoreNone);

[0.98512876 0.99779331]

# 17. Metric(Recall)
## The best value is 1 and the worst value is 0

In [30]:
from sklearn.metrics import recall_score;

KNNClassifierRecall = recall_score(y_test, y_pred);

print(KNNClassifierRecall);

0.9851125635439361

# 18. Metric(Recall - Macro)
## The best value is 1 and the worst value is 0

In [31]:
from sklearn.metrics import recall_score;

KNNClassifierRecallMacro = recall_score(y_test, y_pred, average='macro');

print(KNNClassifierRecallMacro);

0.9914541509857814

# 19. Metric(Recall - Micro)
## The best value is 1 and the worst value is 0

In [32]:
from sklearn.metrics import recall_score;

KNNClassifierRecallMicro = recall_score(y_test, y_pred, average='micro');

print(KNNClassifierRecallMicro);

0.9914170927684441

# 20. Metric(Recall - Weighted)
## The best value is 1 and the worst value is 0

In [33]:
from sklearn.metrics import recall_score;

KNNClassifierRecallWeighted = recall_score(y_test, y_pred, average='weighted');

print(KNNClassifierRecallWeighted);

0.9914170927684441

# 21. Metric(Recall - None)
## The best value is 1 and the worst value is 0

In [34]:
from sklearn.metrics import recall_score;

KNNClassifierRecallNone = recall_score(y_test, y_pred, average=None, zero_division=1);

print(KNNClassifierRecallNone);

[0.99779574 0.98511256]

# 22. Metric(Jaccard Score)
## The best value is 1 and the worst value is 0

In [35]:
from sklearn.metrics import jaccard_score;

KNNClassifierJaccard = jaccard_score(y_test, y_pred);

print(KNNClassifierJaccard);

0.9829710144927536

# 23. Metric(Jaccard - None)
## The best value is 1 and the worst value is 0

In [36]:
from sklearn.metrics import jaccard_score;

KNNClassifierJaccardNone = jaccard_score(y_test, y_pred, average=None);

print(KNNClassifierJaccardNone);

[0.9829895  0.98297101]

# 24. Metric(Jaccard - Weighted)
## The best value is 1 and the worst value is 0

In [37]:
from sklearn.metrics import jaccard_score;

KNNClassifierJaccardWeighted = jaccard_score(y_test, y_pred, average='weighted');

print(KNNClassifierJaccardWeighted);

0.9829802053035784

# 25. Metric(Jaccard - Micro)
## The best value is 1 and the worst value is 0

In [38]:
from sklearn.metrics import jaccard_score;

KNNClassifierJaccardMicro = jaccard_score(y_test, y_pred, average='micro');

print(KNNClassifierJaccardMicro);

0.9829802643490857

# 26. Metric(Rac Auc Score)
## The best value is 1 and the worst value is 0

In [39]:
from sklearn.metrics import roc_auc_score;

KNNClassifierRoc = roc_auc_score(y_test, y_pred);

print(KNNClassifierRoc);

0.9914541509857813

# 27. Metric(Rac Auc Score - None)
## The best value is 1 and the worst value is 0

In [40]:
from sklearn.metrics import roc_auc_score;

KNNClassifierRocNone = roc_auc_score(y_test, y_pred, average=None);

print(KNNClassifierRocNone);

0.9914541509857813

# 28. Metric(Rac Auc Score - Macro)
## The best value is 1 and the worst value is 0

In [41]:
from sklearn.metrics import roc_auc_score;

KNNClassifierRocMacro = roc_auc_score(y_test, y_pred, average='macro');

print(KNNClassifierRocMacro);

0.9914541509857813

# 29. Metric(Rac Auc Score - Micro)
## The best value is 1 and the worst value is 0

In [42]:
from sklearn.metrics import roc_auc_score;

KNNClassifierRocMicro = roc_auc_score(y_test, y_pred, average='micro');

print(KNNClassifierRocMicro);

0.9914541509857813

# 30. Metric(Rac Auc Score - Weighted)
## The best value is 1 and the worst value is 0

In [43]:
from sklearn.metrics import roc_auc_score;

KNNClassifierRocWeighted = roc_auc_score(y_test, y_pred, average='weighted');

print(KNNClassifierRocWeighted);

0.9914541509857813