
# Kowshik P 

## Classification Assignment submitted on 26-Apr-2022
## ------------------------------------------------------------------------
## Model Implemented - Logistic Regression-Grid SearchCV
## Accuracy Rate of Model : 1.00
## Type - 1 error: 1
## Type - 2 error: 24 (Maximum)
## Performance - Good
## ------------------------------------------------------------------------

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

In [2]:
clientInformation = pd.read_csv("fraud.csv");

clientInformation

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
3,1,PAYMENT,7817.71,53860.00,46042.29,0.00,0.00,0,0
4,1,PAYMENT,7107.77,183195.00,176087.23,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
16421,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
16422,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
16423,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
16424,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
16425,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [3]:
clientInformation.shape

(16426, 9)

In [4]:
clientInformation = pd.get_dummies(clientInformation, drop_first = True);

clientInformation

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,1,0,0,0

In [5]:
clientInformation = clientInformation.drop("isFlaggedFraud", axis = 1);

clientInformation

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,1,0,0,0

In [6]:
independentVariable = clientInformation[["step", "amount", "oldbalanceOrg", "newbalanceOrig", "oldbalanceDest", "newbalanceDest", "type_CASH_OUT", "type_DEBIT", "type_PAYMENT", "type_TRANSFER"]];

independentVariable

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,0,0

In [7]:
dependentVariable = clientInformation[["isFraud"]];

dependentVariable

       isFraud
0            0
1            0
2            0
3            0
4            0
...        ...
16421        1
16422        1
16423        1
16424        1
16425        1

[16426 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split;

x_train, x_test, y_train, y_test = train_test_split(independentVariable, dependentVariable, test_size = 1/3, random_state = 0);

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test

In [ ]:
y_test

In [9]:
from sklearn.preprocessing import StandardScaler;

standardization = StandardScaler();

x_train = standardization.fit_transform(x_train);

x_test = standardization.transform(x_test);

In [10]:
from sklearn.linear_model import LogisticRegression;

from sklearn.model_selection import GridSearchCV;



param_grid ={"penalty":["l1", "l2"], "C":[1.0, 10, 20, 50, 80, 100, 1000, 10000], "fit_intercept":[True, False], 
             
             "solver":["newton-cg", "lbfgs", "liblinear", "sag", "saga"]
            
            }

grid = GridSearchCV(LogisticRegression(), param_grid, refit = True, verbose = 3, n_jobs=-1, scoring="f1");

grid.fit(x_train, y_train);

Fitting 5 folds for each of 160 candidates, totalling 800 fits

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
240 fits failed out of a total of 800.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
80 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
80 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
80 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver sag supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.99131124        nan 0.98446729 0.98757186
 0.98757186 0.9871966  0.9857857  0.98418499        nan        nan
 0.9910318         nan 0.98314401 0.98644388 0.98644388 0.98644388
 0.98493686 0.98239192        nan        nan 0.99401196        nan
 0.98437578 0.9908461  0.9908461  0.99047222 0.98616478 0.98428436
        nan        nan 0.99401196        nan 0.98362382 0.99028575
 0.99028575 0.99028575 0.98550537 0.98343457        nan        nan
 0.99410723        nan 0.98428436 0.99177792 0.99177792 0.99140525
 0.98616478 0.98437578        nan        nan 0.99392           nan
 0.98362382 0.9909401  0.9909401  0.9909401  0.98569366 0.98362382
        nan        nan 0.99447564        nan 0.98428436 0.99270939
 0.99261624 0.99261624 0.98616478 0.98437578        nan        nan
 0.9942902         nan 0.98362382 0.99242986 0.99242986 0.99242986
 0.9857882  0.98362382        nan        nan 0.99410731        nan
 0.98428436 0.99354488 0.99354488 0.99298849 0.98616478 0.98428436
        nan        nan 0.99438309        nan 0.98362382 0.99271126
 0.99271126 0.99270939 0.9857882  0.98362382        nan        nan
 0.99447589        nan 0.98428436 0.99391746 0.99391746 0.99345335
 0.98616478 0.98437578        nan        nan 0.99429266        nan
 0.98362382 0.99289696 0.99298976 0.99280458 0.9857882  0.98362382
        nan        nan 0.99410731        nan 0.98428436 0.99484727
 0.99484727 0.99475582 0.98616478 0.98428436        nan        nan
 0.99429292        nan 0.98362382 0.9945709  0.9945709  0.99456963
 0.9857882  0.98362382        nan        nan 0.99438546        nan
 0.98428436 0.99484794 0.99484794 0.99475582 0.98616478 0.98428436
        nan        nan 0.99429266        nan 0.98362382 0.99484794
 0.99484794 0.99484794 0.9857882  0.98362382]
  category=UserWarning,
C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
y_pred = grid.predict(x_test);

In [12]:
from sklearn.metrics import confusion_matrix;

logisticRegressionConfusionMatrix = confusion_matrix(y_test, y_pred);

print(logisticRegressionConfusionMatrix);

[[2721    1]
 [  24 2730]]

In [13]:
from sklearn.metrics import classification_report;

logisticRegressionClassifierReport = classification_report(y_test, y_pred);

print(logisticRegressionClassifierReport);

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      2722
           1       1.00      0.99      1.00      2754

    accuracy                           1.00      5476
   macro avg       1.00      1.00      1.00      5476
weighted avg       1.00      1.00      1.00      5476

# 1. Metric(Accuracy Score)
## The best performance is 1

In [14]:
from sklearn.metrics import accuracy_score;

logisticRegressionClassifierAccuracy = accuracy_score(y_test, y_pred);

print(logisticRegressionClassifierAccuracy);

0.9954346238130022

# 2. Metric(Balanced Accuracy)
## The best value is 1 and the worst value is 0

In [15]:
from sklearn.metrics import balanced_accuracy_score;

logisticRegressionClassifierBalanced = balanced_accuracy_score(y_test, y_pred);

print(logisticRegressionClassifierBalanced);

0.99545901306069

# 3. Metric(Top K-Accuracy Score)
## The top-k accuracy score. The best performance is 1

In [16]:
from sklearn.metrics import top_k_accuracy_score;

logisticRegressionClassiferTopK = top_k_accuracy_score(y_test, y_pred);

print(logisticRegressionClassiferTopK);

1.0

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\metrics\_ranking.py:1751: UndefinedMetricWarning: 'k' (2) greater than or equal to 'n_classes' (2) will result in a perfect score and is therefore meaningless.
  UndefinedMetricWarning,

# 4. Metric(Average Precision Score)
## The best value is 1 and the worst value is 0

In [17]:
from sklearn.metrics import average_precision_score;

logisticRegressionClassifierPrecision = average_precision_score(y_test, y_pred);

print(logisticRegressionClassifierPrecision);

0.9953051889413477

# 5. Metric(Brier Score Loss)
## The best value is 1 and the worst value is 0

In [18]:
from sklearn.metrics import brier_score_loss;

logisticRegressionClassiferBrier = brier_score_loss(y_test, y_pred);

print(logisticRegressionClassiferBrier);

0.004565376186997808

# 6. Metric(F1 Score)
## The best value is 1 and the worst value is 0

In [19]:
from sklearn.metrics import f1_score;

logisticRegressionClassifierF1score = f1_score(y_test, y_pred);

print(logisticRegressionClassifierF1score);

0.9954421148587055

# 7. Metric(F1 Score - Macro)
## The best value is 1 and the worst value is 0

In [20]:
from sklearn.metrics import f1_score;

logisticRegressionClassifierF1Macro = f1_score(y_test, y_pred, average='macro');

print(logisticRegressionClassifierF1Macro);

0.9954346114809349

# 8. Metric(F1 Score - Micro)
## The best value is 1 and the worst value is 0

In [21]:
from sklearn.metrics import f1_score;

logisticRegressionClassifierF1Micro = f1_score(y_test, y_pred, average='micro');

print(logisticRegressionClassifierF1Micro);

0.9954346238130022

# 9. Metric(F1 Score - Weighted)
## The best value is 1 and the worst value is 0

In [22]:
from sklearn.metrics import f1_score;

logisticRegressionClassifierF1Weighted = f1_score(y_test, y_pred, average='weighted');

print(logisticRegressionClassifierF1Weighted);

0.9954346553282849

# 10. Metric(F1 Score - Samples)
## The best value is 1 and the worst value is 0

In [23]:
from sklearn.metrics import f1_score;

logisticRegressionClassifierF1Samples = f1_score(y_test, y_pred, average= None);

print(logisticRegressionClassifierF1Samples);

[0.99542711 0.99544211]

# 11. Metric(Log_Loss)
## The best value is 1 and the worst value is 0

In [24]:
from sklearn.metrics import log_loss;

logisticRegressionClassifierLogLoss = log_loss(y_test, y_pred);

print(logisticRegressionClassifierLogLoss);

0.15768265329989092

# 12. Metric(Precision Score)
## The best value is 1 and the worst value is 0

In [25]:
from sklearn.metrics import precision_score;

logisticRegressionClassifierPrecisionScore = precision_score(y_test, y_pred);

print(logisticRegressionClassifierPrecisionScore);

0.9996338337605273

# 13. Metric(Precision Score - Macro)
## The best value is 1 and the worst value is 0

In [26]:
from sklearn.metrics import precision_score;

logisticRegressionClassifierPrecisionScoreMacro = precision_score(y_test, y_pred, average='macro');

print(logisticRegressionClassifierPrecisionScoreMacro);

0.9954453321808101

# 14. Metric(Precision Score - Micro)
## The best value is 1 and the worst value is 0

In [27]:
from sklearn.metrics import precision_score;

LogisticRegressionClassifierPrecisionScoreMicro = precision_score(y_test, y_pred, average='micro');

print(LogisticRegressionClassifierPrecisionScoreMicro);

0.9954346238130022

# 15. Metric(Precision Score - Weighted)
## The best value is 1 and the worst value is 0

In [28]:
from sklearn.metrics import precision_score;

logisticRegressionClassifierPrecisionScoreWeighted = precision_score(y_test, y_pred, average='weighted');

print(logisticRegressionClassifierPrecisionScoreWeighted);

0.9954698084500854

# 16. Metric(Precision Score - None)
## The best value is 1 and the worst value is 0

In [29]:
from sklearn.metrics import precision_score;

logisticRegressionClassifierPrecisionScoreNone = precision_score(y_test, y_pred, average=None);

print(logisticRegressionClassifierPrecisionScoreNone);

[0.99125683 0.99963383]

# 17. Metric(Recall)
## The best value is 1 and the worst value is 0

In [30]:
from sklearn.metrics import recall_score;

logisticRegressionClassifierRecall = recall_score(y_test, y_pred);

print(logisticRegressionClassifierRecall);

0.9912854030501089

# 18. Metric(Recall - Macro)
## The best value is 1 and the worst value is 0

In [31]:
from sklearn.metrics import recall_score;

logisticRegressionClassifierRecallMacro = recall_score(y_test, y_pred, average='macro');

print(logisticRegressionClassifierRecallMacro);

0.99545901306069

# 19. Metric(Recall - Micro)
## The best value is 1 and the worst value is 0

In [32]:
from sklearn.metrics import recall_score;

logisticRegressionClassifierRecallMicro = recall_score(y_test, y_pred, average='micro');

print(logisticRegressionClassifierRecallMicro);

0.9954346238130022

# 20. Metric(Recall - Weighted)
## The best value is 1 and the worst value is 0

In [33]:
from sklearn.metrics import recall_score;

logisticRegressionClassifierRecallWeighted = recall_score(y_test, y_pred, average='weighted');

print(logisticRegressionClassifierRecallWeighted);

0.9954346238130022

# 21. Metric(Recall - None)
## The best value is 1 and the worst value is 0

In [34]:
from sklearn.metrics import recall_score;

logisticRegressionClassifierRecallNone = recall_score(y_test, y_pred, average=None, zero_division=1);

print(logisticRegressionClassifierRecallNone);

[0.99963262 0.9912854 ]

# 22. Metric(Jaccard Score)
## The best value is 1 and the worst value is 0

In [35]:
from sklearn.metrics import jaccard_score;

logisticRegressionClassifierJaccard = jaccard_score(y_test, y_pred);

print(logisticRegressionClassifierJaccard);

0.9909255898366606

# 23. Metric(Jaccard - None)
## The best value is 1 and the worst value is 0

In [36]:
from sklearn.metrics import jaccard_score;

logisticRegressionClassifierJaccardNone = jaccard_score(y_test, y_pred, average=None);

print(logisticRegressionClassifierJaccardNone);

[0.99089585 0.99092559]

# 24. Metric(Jaccard - Weighted)
## The best value is 1 and the worst value is 0

In [37]:
from sklearn.metrics import jaccard_score;

logisticRegressionClassifierJaccardWeighted = jaccard_score(y_test, y_pred, average='weighted');

print(logisticRegressionClassifierJaccardWeighted);

0.9909108060712194

# 25. Metric(Jaccard - Micro)
## The best value is 1 and the worst value is 0

In [38]:
from sklearn.metrics import jaccard_score;

logisticRegressionClassifierJaccardMicro = jaccard_score(y_test, y_pred, average='micro');

print(logisticRegressionClassifierJaccardMicro);

0.9909107435011816

# 26. Metric(Rac Auc Score)
## The best value is 1 and the worst value is 0

In [39]:
from sklearn.metrics import roc_auc_score;

logisticRegressionClassifierRoc = roc_auc_score(y_test, y_pred);

print(logisticRegressionClassifierRoc);

0.99545901306069

# 27. Metric(Rac Auc Score - None)
## The best value is 1 and the worst value is 0

In [40]:
from sklearn.metrics import roc_auc_score;

logisticRegressionClassifierRocNone = roc_auc_score(y_test, y_pred, average=None);

print(logisticRegressionClassifierRocNone);

0.99545901306069

# 28. Metric(Rac Auc Score - Macro)
## The best value is 1 and the worst value is 0

In [41]:
from sklearn.metrics import roc_auc_score;

logisticRegressionClassifierRocMacro = roc_auc_score(y_test, y_pred, average='macro');

print(logisticRegressionClassifierRocMacro);

0.99545901306069

# 29. Metric(Rac Auc Score - Micro)
## The best value is 1 and the worst value is 0

In [42]:
from sklearn.metrics import roc_auc_score;

logisticRegressionClassifierRocMicro = roc_auc_score(y_test, y_pred, average='micro');

print(logisticRegressionClassifierRocMicro);

0.99545901306069

# 30. Metric(Rac Auc Score - Weighted)
## The best value is 1 and the worst value is 0

In [43]:
from sklearn.metrics import roc_auc_score;

logisticRegressionClassifierRocWeighted = roc_auc_score(y_test, y_pred, average='weighted');

print(logisticRegressionClassifierRocWeighted);

0.99545901306069