
# Kowshik P 

## Classification Assignment submitted on 26-Apr-2022
## ------------------------------------------------------------------------
## Model Implemented - Random Forest-Grid SearchCV
## Accuracy Rate of Model : 1.00
## Type - 1 error: 0
## Type - 2 error: 3 (Minimum error)
## Performance - Excellent
## ------------------------------------------------------------------------

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

In [2]:
clientInformation = pd.read_csv("fraud.csv");

clientInformation

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
3,1,PAYMENT,7817.71,53860.00,46042.29,0.00,0.00,0,0
4,1,PAYMENT,7107.77,183195.00,176087.23,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
16421,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
16422,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
16423,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
16424,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
16425,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [3]:
clientInformation.shape

(16426, 9)

In [4]:
clientInformation = pd.get_dummies(clientInformation, drop_first = True);

clientInformation

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,1,0,0,0

In [5]:
clientInformation = clientInformation.drop("isFlaggedFraud", axis = 1);

clientInformation

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,1,0,0,0

In [6]:
independentVariable = clientInformation[["step", "amount", "oldbalanceOrg", "newbalanceOrig", "oldbalanceDest", "newbalanceDest", "type_CASH_OUT", "type_DEBIT", "type_PAYMENT", "type_TRANSFER"]];

independentVariable

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,0,0

In [7]:
dependentVariable = clientInformation[["isFraud"]];

dependentVariable

       isFraud
0            0
1            0
2            0
3            0
4            0
...        ...
16421        1
16422        1
16423        1
16424        1
16425        1

[16426 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split;

x_train, x_test, y_train, y_test = train_test_split(independentVariable, dependentVariable, test_size = 1/3, random_state = 2);

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test

In [ ]:
y_test

In [9]:
from sklearn.preprocessing import StandardScaler;

standardization = StandardScaler();

x_train = standardization.fit_transform(x_train);

x_test = standardization.transform(x_test);

In [10]:
from sklearn.ensemble import RandomForestClassifier;

from sklearn.model_selection import GridSearchCV;

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'], 
              'n_estimators':[10, 20, 50, 80, 100]} 

grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3, n_jobs=-1, scoring='f1') 


grid.fit(x_train, y_train);

Fitting 5 folds for each of 30 candidates, totalling 150 fits

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [11]:
y_pred = grid.predict(x_test);

# Metric(Confusion Matrix)
## The best performance is 1

In [12]:
from sklearn.metrics import confusion_matrix;

randamForestConfusionMatrix = confusion_matrix(y_test, y_pred);

print(randamForestConfusionMatrix);

[[2722    0]
 [   3 2751]]

In [13]:
from sklearn.metrics import classification_report;

randamForestClassifierReport = classification_report(y_test, y_pred);

print(randamForestClassifierReport);

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2722
           1       1.00      1.00      1.00      2754

    accuracy                           1.00      5476
   macro avg       1.00      1.00      1.00      5476
weighted avg       1.00      1.00      1.00      5476

# 1. Metric(Accuracy Score)
## The best performance is 1

In [14]:
from sklearn.metrics import accuracy_score;

RandomForestClassifierAccuracy = accuracy_score(y_test, y_pred);

print(RandomForestClassifierAccuracy)

0.9994521548575602

# 2. Metric(Balanced Accuracy)
## The best value is 1 and the worst value is 0

In [15]:
from sklearn.metrics import balanced_accuracy_score;

RandomForestClassifierBalanced = balanced_accuracy_score(y_test, y_pred);

print(RandomForestClassifierBalanced);

0.9994553376906319

# 3. Metric(Top K-Accuracy Score)
## The top-k accuracy score. The best performance is 1

In [16]:
from sklearn.metrics import top_k_accuracy_score;

RandomForestClassiferTopK = top_k_accuracy_score(y_test, y_pred);

print(RandomForestClassiferTopK);

1.0

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\metrics\_ranking.py:1751: UndefinedMetricWarning: 'k' (2) greater than or equal to 'n_classes' (2) will result in a perfect score and is therefore meaningless.
  UndefinedMetricWarning,

# 4. Metric(Average Precision Score)
## The best value is 1 and the worst value is 0

In [17]:
from sklearn.metrics import average_precision_score;

RandomForestClassifierPrecision = average_precision_score(y_test, y_pred);

print(RandomForestClassifierPrecision);

0.9994585205237033

# 5. Metric(Brier Score Loss)
## The best value is 1 and the worst value is 0

In [18]:
from sklearn.metrics import brier_score_loss;

randomForestClassiferBrier = brier_score_loss(y_test, y_pred);

print(randomForestClassiferBrier);

0.000547845142439737

# 6. Metric(F1 Score)
## The best value is 1 and the worst value is 0

In [19]:
from sklearn.metrics import f1_score;

randomForestClassifierF1score = f1_score(y_test, y_pred);

print(randomForestClassifierF1score);

0.9994550408719346

# 7. Metric(F1 Score - Macro)
## The best value is 1 and the worst value is 0

In [20]:
from sklearn.metrics import f1_score;

randomForestClassifierF1Macro = f1_score(y_test, y_pred, average='macro');

print(randomForestClassifierF1Macro);

0.9994521394923286

# 8. Metric(F1 Score - Micro)
## The best value is 1 and the worst value is 0

In [21]:
from sklearn.metrics import f1_score;

randomForestClassifierF1Micro = f1_score(y_test, y_pred, average='micro');

print(randomForestClassifierF1Micro);

0.9994521548575602

# 9. Metric(F1 Score - Weighted)
## The best value is 1 and the worst value is 0

In [22]:
from sklearn.metrics import f1_score;

randomForestClassifierF1Weighted = f1_score(y_test, y_pred, average='weighted');

print(randomForestClassifierF1Weighted);

0.999452156447067

# 10. Metric(F1 Score - Samples)
## The best value is 1 and the worst value is 0

In [23]:
from sklearn.metrics import f1_score;

randomForestClassifierF1Samples = f1_score(y_test, y_pred, average= None);

print(randomForestClassifierF1Samples);

[0.99944924 0.99945504]

# 11. Metric(Log_Loss)
## The best value is 1 and the worst value is 0

In [24]:
from sklearn.metrics import log_loss;

randomForestClassifierLogLoss = log_loss(y_test, y_pred);

print(randomForestClassifierLogLoss);

0.018921900873765066

# 12. Metric(Precision Score)
## The best value is 1 and the worst value is 0

In [25]:
from sklearn.metrics import precision_score;

randomForestClassifierPrecisionScore = precision_score(y_test, y_pred);

print(randomForestClassifierPrecisionScore);

1.0

# 13. Metric(Precision Score - Macro)
## The best value is 1 and the worst value is 0

In [26]:
from sklearn.metrics import precision_score;

randomForestClassifierPrecisionScoreMacro = precision_score(y_test, y_pred, average='macro');

print(randomForestClassifierPrecisionScoreMacro);

0.9994495412844037

# 14. Metric(Precision Score - Micro)
## The best value is 1 and the worst value is 0

In [27]:
from sklearn.metrics import precision_score;

randomForestClassifierPrecisionScoreMicro = precision_score(y_test, y_pred, average='micro');

print(randomForestClassifierPrecisionScoreMicro);

0.9994521548575602

# 15. Metric(Precision Score - Weighted)
## The best value is 1 and the worst value is 0

In [28]:
from sklearn.metrics import precision_score;

randomForestClassifierPrecisionScoreWeighted = precision_score(y_test, y_pred, average='weighted');

print(randomForestClassifierPrecisionScoreWeighted);

0.9994527579898271

# 16. Metric(Precision Score - None)
## The best value is 1 and the worst value is 0

In [29]:
from sklearn.metrics import precision_score;

randomForestClassifierPrecisionScoreNone = precision_score(y_test, y_pred, average=None);

print(randomForestClassifierPrecisionScoreNone);

[0.99889908 1.        ]

# 17. Metric(Recall)
## The best value is 1 and the worst value is 0

In [30]:
from sklearn.metrics import recall_score;

randomForestClassifierRecall = recall_score(y_test, y_pred);

print(randomForestClassifierRecall);

0.9989106753812637

# 18. Metric(Recall - Macro)
## The best value is 1 and the worst value is 0

In [31]:
from sklearn.metrics import recall_score;

randomForestClassifierRecallMacro = recall_score(y_test, y_pred, average='macro');

print(randomForestClassifierRecallMacro);

0.9994553376906319

# 19. Metric(Recall - Micro)
## The best value is 1 and the worst value is 0

In [32]:
from sklearn.metrics import recall_score;

randomForestClassifierRecallMicro = recall_score(y_test, y_pred, average='micro');

print(randomForestClassifierRecallMicro);

0.9994521548575602

# 20. Metric(Recall - Weighted)
## The best value is 1 and the worst value is 0

In [33]:
from sklearn.metrics import recall_score;

randomForestClassifierRecallWeighted = recall_score(y_test, y_pred, average='weighted');

print(randomForestClassifierRecallWeighted);

0.9994521548575602

# 21. Metric(Recall - None)
## The best value is 1 and the worst value is 0

In [34]:
from sklearn.metrics import recall_score;

randomForestClassifierRecallNone = recall_score(y_test, y_pred, average=None, zero_division=1);

print(randomForestClassifierRecallNone);

[1.         0.99891068]

# 22. Metric(Jaccard Score)
## The best value is 1 and the worst value is 0

In [35]:
from sklearn.metrics import jaccard_score;

randomForestClassifierJaccard = jaccard_score(y_test, y_pred);

print(randomForestClassifierJaccard);

0.9989106753812637

# 23. Metric(Jaccard - None)
## The best value is 1 and the worst value is 0

In [36]:
from sklearn.metrics import jaccard_score;

randomForestClassifierJaccardNone = jaccard_score(y_test, y_pred, average=None);

print(randomForestClassifierJaccardNone);

[0.99889908 0.99891068]

# 24. Metric(Jaccard - Weighted)
## The best value is 1 and the worst value is 0

In [37]:
from sklearn.metrics import jaccard_score;

randomForestClassifierJaccardWeighted = jaccard_score(y_test, y_pred, average='weighted');

print(randomForestClassifierJaccardWeighted);

0.9989049128473874

# 25. Metric(Jaccard - Micro)
## The best value is 1 and the worst value is 0

In [38]:
from sklearn.metrics import jaccard_score;

randomForestClassifierJaccardMicro = jaccard_score(y_test, y_pred, average='micro');

print(randomForestClassifierJaccardMicro);

0.9989049096550465

# 26. Metric(Rac Auc Score)
## The best value is 1 and the worst value is 0

In [39]:
from sklearn.metrics import roc_auc_score;

randomForestClassifierRoc = roc_auc_score(y_test, y_pred);

print(randomForestClassifierRoc);

0.9994553376906319

# 27. Metric(Rac Auc Score - None)
## The best value is 1 and the worst value is 0

In [40]:
from sklearn.metrics import roc_auc_score;

randomForestClassifierRocNone = roc_auc_score(y_test, y_pred, average=None);

print(randomForestClassifierRocNone);

0.9994553376906319

# 28. Metric(Rac Auc Score - Macro)
## The best value is 1 and the worst value is 0

In [41]:
from sklearn.metrics import roc_auc_score;

randomForestClassifierRocMacro = roc_auc_score(y_test, y_pred, average='macro');

print(randomForestClassifierRocMacro);

0.9994553376906319

# 29. Metric(Rac Auc Score - Micro)
## The best value is 1 and the worst value is 0

In [42]:
from sklearn.metrics import roc_auc_score;

randomForestClassifierRocMicro = roc_auc_score(y_test, y_pred, average='micro');

print(randomForestClassifierRocMicro);

0.9994553376906319

# 30. Metric(Rac Auc Score - Weighted)
## The best value is 1 and the worst value is 0

In [43]:
from sklearn.metrics import roc_auc_score;

randomForestClassifierRocWeighted = roc_auc_score(y_test, y_pred, average='weighted');

print(randomForestClassifierRocWeighted);

0.9994553376906319